:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.board-row {
  padding: 1px 1px 1px 1px;
}

.board {
  padding: 1px;
}

.square {
  width: 100px;
  height: 100px;
  font: bold 18px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid white;
  box-sizing: border-box;
}

.selected {
  background-color: gold;
  color: #eee;
}

.correct {
  background-color: #070;
  color: #eee;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #333333;
  box-sizing: border-box;
}

.button-container {
  display: flex;
}

.horizontal-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  margin: 5px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin: 5px;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin: 5px;
  width: 30%;
}

.menu-button {
  font: bold 18px Arial;
  background-color: gold;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.menu-button:hover {
  background-color: darkgoldenrod;
}

.menu-button option {
  background-color: gold;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  appearance: none;
}

button:focus, 
select:focus {
  outline: none;
  box-shadow: none;
}

.notification {
  font: bold 24px Arial;
  position: fixed;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  animation: fade-in-out 3s ease-in-out;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}